.navbar {
  background-color: #ffffff; /* สีพื้นหลังขาว */
}

.navbar-container {
  max-width: 100%;
  padding: 0 16px;
}

.navbar-logo {
  color: #008080; /* ฟ้าน้ำทะเล */
  font-weight: bold;
  font-size: 1.75rem; /* text-lg */
  margin-left: 12px;
}

.mobile-menu-button {
  display: inline-flex;
  padding: 8px;
  color: #5f9ea0; /* สี teal อ่อน */
  border-radius: 0.375rem; /* rounded-md */
}

.mobile-menu-button:hover {
  background-color: #008080; /* hover: ฟ้าน้ำทะเล */
  color: white;
}

.desktop-menu {
  display: flex;
  justify-content: flex-end;
}

.desktop-menu a {
  color: #5f9ea0; /* สี teal อ่อน */
  padding: 8px 12px;
  border-radius: 0.375rem; /* rounded-md */
  font-size: 0.875rem; /* text-sm */
  font-weight: 500;
}

.desktop-menu a:hover {
  background-color: #008080; /* hover: ฟ้าน้ำทะเล */
  color: white;
}

.desktop-menu a.active {
  background-color: #3acabc; /* สี turquoise สำหรับ active */
  color: #444444; /* สีตัวอักษรขาว */
}

.desktop-menu a.active:hover {
  background-color: #008080; /* สี turquoise สำหรับ active */
  color: #ffffff; /* สีตัวอักษรขาว */
}

.mobile-menu-panel {
  padding: 24px;
}

.mobile-menu-panel a.active {
  background-color: #3acabc; /* สี turquoise สำหรับ active */
  color: #333333; /* สีตัวอักษรขาว */
}

.mobile-menu-panel a.active:hover {
  background-color: #008080; /* สี teal เข้มเมื่อ hover ขณะ active */
  color: white;
}

.mobile-menu-panel a {
  color: #5f9ea0; /* สี teal อ่อน */
  padding: 8px 12px;
  border-radius: 0.375rem; /* rounded-md */
  font-size: 1rem; /* text-base */
  font-weight: 500;
}

.mobile-menu-panel a:hover {
  background-color: #008080; /* hover: ฟ้าน้ำทะเล */
  color: white;
}

.menu-items {
  position: absolute;
  right: 0;
  margin-top: 8px;
  width: 192px; /* w-48 */
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* shadow-lg */
  border-radius: 0.375rem; /* rounded-md */
}

.menu-items a {
  color: #008080; /* ฟ้าน้ำทะเล */
  padding: 8px 16px;
  display: block;
}

.menu-items a:hover {
  background-color: #e0ffff; /* สีฟ้าอ่อนเมื่อ hover */
}
