@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f0f0f0;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Prompt', sans-serif; /* เปลี่ยนฟอนต์เป็น Prompt */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
